h1, h2, h3, h6 {
  color: white;
  display: inline-block;
  padding: 5px;
  font-family: "BebasNeue",sans-serif;

}
h2:hover {
  color: pink;
}
h1:hover, h3:hover {
  color: pink;
}
a {
  color: white;
}
a:hover {
  color: pink;}
p {
  color: white;
}
body {
  background-color: #292929;
}
li {
  list-style: none;
  padding: 10px 0 0 50px;
  color: white;
}
section {
  display: none;
  padding: 20px;
}
hr {
  padding: 5px;
}
i:hover {
  color: SpringGreen;
}
.center {
  margin: auto;
}
.subheader {
  color: white;
}
.top-box {
  position: relative;
  width: 280px;
  height: 160px;
}
.bio {
  background-color: Crimson;
}
.work {
  background-color: #FF8900;
}
.main {
  cursor: pointer;
}
.play {
  background-color: #36D88E;
  /*height: 100px;*/
}
.icon {
  font-size: 50px;
  color: white;
  float: right;
  padding: 20px;
  margin: 0 0 0 0;
}
.bio-info {
  background-color: #1240AB;
  padding: 30px;
  color: black;

}
.work-info {
  background-color: #FF8900;
  padding: 30px;
}
.play-info {
  padding: 30px;
}
.hidden-display {
  display: none;
}
.bottom {
  height: 60px;
  background-color: #292929;
}
.bullet {
  color: white;
}
.work-div {
  text-align:center;
}
.work-img {
  margin: auto;
  width: 600px;
  height: 400px;
}
.orbit {
  overflow: hidden;
  height: 500px;
}
.bebas-neue {
  font-family: "BebasNeue",sans-serif;
  color: white;
}